.input {
  border-radius: 8px 0 0 8px;
  outline: none;
  padding: 8px;
}

form {
  display: flex;
  align-items: center;
}

.button {
  border-radius: 0 8px 8px 0;
  color: #fff;
  background-color: blue;
  border: none;
  height: 100%;
  width: 86px;
  font-weight: bold;
}